body{
  background-color: #2E335A;
}

.headingandsearch{
  text-align:center;
}

.input-container>input{
  width:40vw;
  height:25px;
  border-radius:10px;
}
.input-container>button{
  width:13vw;
  height:30px;
  border-radius:5%;
  }

.weather-card{
  width:40%;
  background-color: #5936B4;
  margin-bottom:20px;
  color:white;
  padding-bottom:10px;
  border-radius:10px;
}

.weather-cards-container{
  padding-top:40px;
}

.tempicon{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
}

.humidity{
  font-size:30px;
}

/*img{
  height:15vh;
  width:10vw;
}*/
.lhcontainer{
  color:grey;
  float:left;
  margin-left:10px;
}
.weather-info{
  display:flex;
  justify-content:space-between;
  margin:5px 20px 0px 30px;
}
